ATTRS{product}=="MTi-300 AHRS", SYMLINK+="mti_300", MODE="0666"
ATTRS{product}=="u-blox 6  -  GPS Receiver", SYMLINK+="gps", MODE="0666"
ATTRS{manufacturer}=="Prolific*", ATTRS{product}=="USB-Serial Controller D", SYMLINK+="ptu_d46", MODE="0666"
ATTRS{manufacturer}=="Prolific*", ATTRS{product}=="USB-Serial Controller", SYMLINK+="prolific", MODE="0666"
ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="A600dKKj", SYMLINK+="metal_detector", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1ffb", ATTRS{idProduct}=="0083", ATTRS{bInterfaceNumber}=="00", SYMLINK+="arm_linear", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1ffb", ATTRS{idProduct}=="0083", ATTRS{bInterfaceNumber}=="02", SYMLINK+="arm_rotation", MODE="0666"
