ATTRS{product}=="MTi-300 AHRS", SYMLINK+="mti_300"
ATTRS{product}=="u-blox 6  -  GPS Receiver", SYMLINK+="gps"
 ATTRS{product}=="USB-Serial Controller D", SYMLINK+="ptu_d46"
ATTRS{manufacturer}=="FTDI", ATTRS{serial}=="A600dKKj", SYMLINK+="metal_detector"