<?xml version="1.0"?>
<launch>
	<arg name="use_cameras" default="false"/>
	<arg name="run_stereo_odometry" default="false"/>
	
	<!-- Clearpath Husky Robot -->
	<include file="$(find husky_base)/launch/base.launch" />

	<!-- RTK GPS -->
	<node name="rtk_robot_node" pkg="rtk_ros" type="rtk_robot_node" >
		<param name="port" value="gps" />
		<param name="gps_frame_id" value="gps_antenna" />
	</node>

	<!-- XSens MTi-300 IMU -->
	<node name="xsens_mti_300" pkg="xsens_driver" type="mtnode.py" >
		<param name="device" value="/dev/mti_300" />
		<param name="baudrate" value="115200" />
		<param name="frame_id" value="base_imu" />
	</node>

	<!-- PointGrey Flea3 GigE Cameras -->
	<group if="$(arg use_cameras)">
		<node name="left_camera" pkg="pgr_gige_camera_driver" type="pgr_gige_camera_node">
			<param name="ip_address" value="192.168.4.11" />
			<param name="frame_id" value="left_camera" />
		</node>
		<node name="right_camera" pkg="pgr_gige_camera_driver" type="pgr_gige_camera_node" >
			<param name="ip_address" value="192.168.4.12" />
			<param name="frame_id" value="right_camera" />
		</node>
	</group>

	<!-- Visual Odometry -->
	<node name="stereo_odometry" pkg="viso2_ros" type="stereo_odometer" if="$(arg run_stereo_odometry)">
		<param name="odom_frame_id" value="odom" />
	</node>

	<!-- SICK LMS100 Laser Range Finder -->
	<node name="lms1xx_node" pkg="lms1xx_driver" type="lms1xx_node" output="screen" >
		<param name="host" value="192.168.4.13" />
		<param name="frame_id" value="sick_lms100" />
	</node>
	
	<!-- Convert laser scan to pointclouds -->
	<node pkg="laser_filters" type="scan_to_cloud_filter_chain" output="screen" name="scan_to_cloud_filter_chain_tilt_laser">
	    <remap from="scan" to="scan"/>
	    <remap from="cloud_filtered" to="tilt_scan_cloud"/>
	    <param name="target_frame" type="string" value="base_link"/>
	    <!--<rosparam command="load" file="$(find fsr_husky_bringup)/settings/shadow_filter.yaml" />-->
	</node>

	<!-- PTU-D46 Pan and Tilt -->
	<node name="ptu_d46_node" pkg="ptu_d46_driver" type="ptu_d46_node" output="screen" >
		<remap from="joint_states" to="/ptu_d46_controller/joint_states"/>
		<param name="port" value="/dev/ptu_d46" />
		<param name="joint_state_rate" value="50.0" />
	</node>

	<!-- FSR Husky URDF -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find fsr_husky_description)/urdf/fsr_husky.urdf.xacro'" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
	  <param name="publish_frequency" value="50.0" />
	</node>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	  <param name="rate" value="50.0" />
	  <rosparam param="source_list">["/ptu_d46_controller/joint_states"]</rosparam>
	</node>

	<!--Sound Play -->
	<node name="sound_play" pkg="sound_play" type="soundplay_node.py" />

	<node pkg="joy" type="joy_node" name="joystick"/>

	<node pkg="fsr_husky_teleop" type="joystick_teleop_node" name="full_teleop" output="screen">
		<param name="multiplex" value="true"/>
		<param name="scale_angular" value="1.5"/>
		<param name="scale_linear" value="1.0"/>
		<param name="control_pan_and_tilt" value="false"/>
	</node>

</launch>
