<launch>

	<arg name="arm_is_installed" default="false" />

	<!-- Args -->
	<arg name="map_file" default="$(find isr_resources)/maps/lse_balcony.yaml"/>
	<arg name="initial_pose_x" default="0.0"/>
  	<arg name="initial_pose_y" default="0.0"/>
  	<arg name="initial_pose_a" default="0.0"/>
	<arg name="cmd_vel_topic" default="cmd_vel" />
	<arg name="odom_topic" default="odom" />

	<!-- Map server -->
  	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<!-- AMCL -->
  	<include file="$(find husky_navigation)/launch/amcl.launch.xml">
	    	<arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
	    	<arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    		<arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  	</include>

	<!-- Move Base -->
	<include file="$(find fsr_husky_bringup)/launch/includes/move_base.launch">
		<arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

</launch>
