<launch>

	<!-- GMapping -->
	<include file="$(find husky_navigation)/launch/gmapping.launch.xml"/>

	<!-- Move Base -->
	<include file="$(find fsr_husky_bringup)/launch/includes/move_base.launch.xml">
		<arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    		<arg name="odom_topic" value="$(arg odom_topic)"/>
	</include>

</launch>
