<launch>

        <arg name="arm_is_installed" default="false" />
	<arg name="fsr_husky_mine_detection_arm_is_mounted" default="true" />

	<arg name="cmd_vel_topic" default="cmd_vel" />
	<arg name="odom_topic" default="odom" />

	<node pkg="move_base" type="move_base" respawn="false" clear_params="true"  name="move_base" output="screen">
		<rosparam file="$(find fsr_husky_bringup)/settings/navigation/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find fsr_husky_bringup)/settings/navigation/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find fsr_husky_bringup)/settings/navigation/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find fsr_husky_bringup)/settings/navigation/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find fsr_husky_bringup)/settings/navigation/base_local_planner_params.yaml" command="load" />
		
		<rosparam file="$(find fsr_husky_bringup)/settings/navigation/costmap_common_params_arm.yaml" command="load" ns="global_costmap" if="$(arg fsr_husky_mine_detection_arm_is_mounted)" />
                <rosparam file="$(find fsr_husky_bringup)/settings/navigation/costmap_common_params_arm.yaml" command="load" ns="local_costmap" if="$(arg fsr_husky_mine_detection_arm_is_mounted)" />


		<remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
   		<remap from="odom" to="$(arg odom_topic)"/>
  	</node>

</launch>
