
<launch>
    <include file="$(find fsr_husky_gazebo)/launch/fsr_husky_mine_detection.urdf.gazebo.launch"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
      <rosparam>
        freq: 10.0
        sensor_timeout: 1.0
        publish_tf: true
        odom_used: true
        vo_used: true
        output_frame: odom
      </rosparam>
    </node>
</launch>
